@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: WorkSans, "Lucida Grande", "Lucida Sans", "Lucida Sans Regular";
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
  background-color: #2e2e2e;
}
body#page2body {
  background-image: url("../img/section-experience-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62.5%;
}
body#page4body {
  background-image: url("../img/section-voyager.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  font-size: 62.5%;
}
body#page5body {
  background-image: url("../img/section-composition4.jpg");
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat;
  font-size: 62.5%;
  background-color: #1e1613;
}
#bodycontact {
  background-image: url("../img/section-composition4.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
main {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15vh;
  text-align: center;
}
h3 {
  font-size: 3rem;
  font-weight: 300;
  color: #ebccc2;
}
/* ------------ HEADER ---------------*/

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  position: fixed;
}
header nav {
  font-size: 2.5rem;
  margin-left: 51vw;
}
header nav a {
  text-decoration: none;
  color: #867772;
  margin-left: 3vw;
  transition: 0.3s;
}
header nav a:hover {
  color: #ebccc2;
  font-weight: 500;
  text-decoration: underline;
}

/* ---------------  SIDEBAR ----------------*/
.sidenav {
  width: 10vw;
  height: 500p;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 17vh;
  margin-left: 2vw;
  font-family: WorkSans;
}
.sidenav a {
  text-decoration: none;
  color: #867772;
  font-weight: 200;
  word-spacing: 20px;
  margin-left: 20px;
  font-size: 35px;
}
.sidenav div {
  height: 60px;
  border-left: solid #737373;
  margin-left: 29px;
  margin-top: 5px;
}
.sidenav span {
  font-size: 15px;
  transition: 0.3s;
}
.sidenav span:hover {
  color: #ebccc2;
  font-weight: 500;
}
/* ---------------SIDEBAR ELLIPSEN POSITION----*/

.ellipsePage1 {
  position: fixed;
  margin-left: 14px;
  margin-top: 7px;
}
.ellipsePage2 {
  position: fixed;
  margin-left: 14px;
  margin-top: 222px;
}
.ellipsePage3 {
  position: fixed;
  margin-left: 12.5px;
  margin-top: 328px;
  width: 35px;
}
.ellipsePage4 {
  position: fixed;
  margin-left: 12.5px;
  margin-top: 114px;
  width: 35px;
}
.ellipsePage5 {
  position: fixed;
  margin-left: 12.5px;
  margin-top: 436px;
  width: 35px;
}
/*-----------------SIDEBAR SPANS--------------*/
.pagepointer {
  color: #ebccc2;
  font-weight: 500;
}
/*----------------------Main Section Page1-----*/

.mainFirstSection {
  margin-bottom: 10vh;
}
.mainFirstSection h2 {
  font-size: 2.5rem;
  font-size: WorkSans;
  color: #ebccc2;
  font-weight: 300;
  width: 13vw;
  margin-left: 25vw;
  margin-bottom: 17vh;
  text-align: left;
}
.mainFirstSection img {
  width: 90vw;
}
.mainSecondSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20vh;
}
.mainSecondSection img {
  width: 45%;
}
.mainSecondSection article {
  width: 45%;
  color: #737373;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: left;
}
.mainSecondSection h3 {
  margin-bottom: 2vh;
}
.mainSecondSection p {
  margin-bottom: 2vh;
}

/* ------------ MAIN SECTION PAGE3 -----------------*/

.Page3main {
  margin-left: 15vw;
  color: #737373;
}
.mainFirstSectionPage3 {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: auto;
  text-align: left;
}
.Page3main video {
  margin-left: 2vw;
  margin-bottom: 15vh;
  width: 60vw;
}
.Page3main h4 {
  font-size: 3rem;
  font-weight: 200;
  color: #ebccc2;
  margin-bottom: 2vh;
}
.Page3main h1 {
  color: #ebccc2;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3vh;
}
.Page3main ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  font-weight: 300;
  gap: 5px;
  margin-bottom: 2vh;
}
.Page3main li {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 0.5vh 1vw;
}
.Page3main p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 15vh;
}

/* ------------------GRID CONTAINER PAGE3 ------------*/

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 62vw;
  text-align: left;
  align-items: center;
  color: #ebccc2;
  padding-bottom: 10vh;
}
.gridContainer img {
  width: 31vw;
}
.gridContainer h5 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 1vh;
}
.gridContainer h3 {
  font-size: 3.5rem;
  margin-bottom: 1vh;
}
.gridContainer p {
  color: #737373;
  line-height: 2vh;
  font-size: 2rem;
  font-weight: 300;
}
.gridtopright {
  margin-left: 1vw;
}
.gridbottomleft {
  margin-right: 3vw;
}
/*--------------------------Page 2,4 Main----------------------------*/
.productmain {
  background-color: #2e2e2e;
  height: 85vh;
  margin-left: 55vw;
  padding-left: 4vw;
  padding-right: 11vw;
}
.productarticle {
  text-align: left;
  font-size: 3rem;
}
.productmain h1 {
  font-size: 6rem;
  font-weight: 300;
  color: #ebccc2;
  margin-bottom: 12vh;
  margin-top: 5vh;
}
.productmain p {
  color: #737373;
  font-weight: 300;
  line-height: 3vh;
  margin-bottom: 5vh;
  font-size: 2rem;
}
/*----------------------------PAGE 5 MAIN---------------------*/
.productmain5 {
  background-color: #2e2e2e;
  height: 85vh;
  margin-left: 55vw;
  padding-left: 4vw;
  padding-right: 11vw;
}
.productmain5 img {
  margin-bottom: 3vh;
}
.productmain5 article {
  text-align: center;
}
.productmain5 p {
  color: #737373;
  font-weight: 300;
  line-height: 3vh;
  margin-bottom: 3vh;
  font-size: 2rem;
}
.productmain5 a {
  text-decoration: none;
  background-color: #ebccc2;
  padding: 1vh 2vw;
  color: #2e2e2e;
}
